In [23]:
import numpy as np
import pandas as pd
from sklearn.utils import shuffle
import random
import csv

In [24]:
data = pd.read_csv("fish(old data).csv")

In [25]:
data.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [26]:
x = np.array(data[['Weight','Length1','Length2','Length3','Height',"Width"]])
y = np.array(data['Species'])
species = np.array(data['Species'].unique())
species

array(['Bream', 'Roach', 'Whitefish', 'Parkki', 'Perch', 'Pike', 'Smelt'],
      dtype=object)

In [27]:
total_bream = x[0:35]
total_roach = x[35:55]
total_whitefish = x[55:62]
total_parkki = x[62:73]
total_perch = x[73:129]
total_pike = x[129:146]
total_smelt = x[146:160]

In [29]:
total_bream[0]

array([242.  ,  23.2 ,  25.4 ,  30.  ,  11.52,   4.02])

In [30]:
bream_mean, bream_median = [],[]
roach_mean , roach_median = [],[]
whitefish_mean ,whitefish_median = [],[]
parkki_mean , parkki_median = [],[]
perch_mean, perch_median = [],[]
pike_mean , pike_median = [],[]
smelt_mean , smelt_median = [],[]

for i in range(6):
    
    bream_mean.append(np.mean(total_bream[:,i]))
    bream_median.append(np.median(total_bream[:,i])) 
    
    
    roach_mean.append(np.mean(total_roach[:,i]))
    roach_median.append(np.median(total_roach[:,i])) 
    
    
    whitefish_mean.append(np.mean(total_whitefish[:,i]))
    whitefish_median.append(np.median(total_whitefish[:,i])) 
    
    
    parkki_mean.append(np.mean(total_parkki[:,i]))
    parkki_median.append(np.median(total_parkki[:,i])) 
    
    
    perch_mean.append(np.mean(total_perch[:,i]))
    perch_median.append(np.median(total_perch[:,i])) 
    
    
    pike_mean.append(np.mean(total_pike[:,i]))
    pike_median.append(np.median(total_pike[:,i])) 
    
    
    smelt_mean.append(np.mean(total_smelt[:,i]))
    smelt_median.append(np.median(total_smelt[:,i]))

In [31]:
bream_mean,bream_median

([617.8285714285714,
  30.30571428571428,
  33.10857142857143,
  38.35428571428571,
  15.18321142857143,
  5.427614285714284],
 [610.0, 30.4, 33.0, 38.5, 14.9544, 5.2801])

In [8]:
def value(value1,value2,index):

    multiplyer = random.choice([0.95,0.96,0.97,0.98,0.99,1,1.01,1.02,1.03,1.04,1.05])
    val = random.choice([value1[index],value2[index]])
    
    return float(("%.2f"%(multiplyer*val)))

value(bream_mean,bream_median,0)

616.1

In [9]:
num_of_columns = 2000

In [10]:
bream,roach,whitefish,parkki,perch,pike,smelt = np.ones([6,num_of_columns]),np.ones([6,num_of_columns]),np.ones([6,num_of_columns]),np.ones([6,num_of_columns]),np.ones([6,num_of_columns]),np.ones([6,num_of_columns]),np.ones([6,num_of_columns])

for i in range(len(bream)):
    for j in range(len(bream[i])):
        
        bream[i][j] = bream[i][j]*value(bream_mean,bream_median,i)
        
        roach[i][j] = roach[i][j]*value(roach_mean,roach_median,i) 
        
        whitefish[i][j] = whitefish[i][j]*value(whitefish_mean,whitefish_median,i) 
        
        parkki[i][j] = parkki[i][j]*value(parkki_mean,parkki_median,i)   
        
        perch[i][j] = perch[i][j]*value(perch_mean,perch_median,i) 
        
        pike[i][j] = pike[i][j]*value(pike_mean,pike_median,i) 
        
        smelt[i][j] = smelt[i][j]*value(smelt_mean,smelt_median,i)

In [11]:
# ['Weight','Length1','Length2','Length3','Height',"Width"]

weight = np.concatenate((bream[0], roach[0],whitefish[0],parkki[0],perch[0],
                       pike[0],smelt[0]))

length1 = np.concatenate((bream[1], roach[1],whitefish[1],parkki[1],perch[1],
                       pike[1],smelt[1]))

length2 = np.concatenate((bream[2], roach[2],whitefish[2],parkki[2],perch[2],
                       pike[2],smelt[2]))

length3 = np.concatenate((bream[3], roach[3],whitefish[3],parkki[3],perch[3],
                       pike[3],smelt[3]))

height = np.concatenate((bream[4], roach[4],whitefish[4],parkki[4],perch[4],
                       pike[4],smelt[4]))

width = np.concatenate((bream[5], roach[5],whitefish[5],parkki[5],perch[5],
                       pike[5],smelt[5]))

In [12]:
Species = []
for i in species:
    for j in range(num_of_columns):
        Species.append(i)
Species = np.array(Species)

In [13]:
Species.shape, width.shape, length1.shape

((14000,), (14000,), (14000,))

In [14]:
dataset = {
    "Species" : Species,
    "Weight" : weight,
    "Length1" : length1,
    "Length2" : length2,
    "Length3" : length3,
    "Height" : height,
    "Width" : width
}

In [15]:
df = pd.DataFrame(dataset)

In [16]:
df.head()

  Species  Weight  Length1  Length2  Length3  Height  Width
0   Bream  611.65    30.70    33.77    36.96   15.03   5.17
1   Bream  642.54    30.40    33.66    39.12   15.03   5.16
2   Bream  610.00    29.40    34.32    39.89   15.70   5.17
3   Bream  648.72    30.40    31.35    38.74   14.58   5.48
4   Bream  579.50    29.09    34.76    37.73   15.79   5.26

In [17]:
df = shuffle(df)     # shuffle() is from scikitlearn.utils
df.head()

         Species  Weight  Length1  Length2  Length3  Height  Width
5717   Whitefish  472.26    27.41    28.84    33.04    8.69   4.59
3629       Roach  156.61    21.32    22.70    25.97    6.56   3.57
12991      Smelt   10.10    11.86    12.69    12.97    2.20   1.29
606        Bream  599.29    30.70    32.78    37.59   14.58   5.48
3929       Roach  150.53    20.09    21.16    24.22    6.69   3.67

In [18]:
df.reset_index(drop=True, inplace=True)
df.head()

     Species  Weight  Length1  Length2  Length3  Height  Width
0  Whitefish  472.26    27.41    28.84    33.04    8.69   4.59
1      Roach  156.61    21.32    22.70    25.97    6.56   3.57
2      Smelt   10.10    11.86    12.69    12.97    2.20   1.29
3      Bream  599.29    30.70    32.78    37.59   14.58   5.48
4      Roach  150.53    20.09    21.16    24.22    6.69   3.67

In [19]:
my_list = [['Species','Weight','Length1','Length2','Length3','Height',"Width"]]
for i in range(len(df)):
    my_list.append(df.iloc[i])

In [20]:
len(df), df.iloc[0], df.iloc[-1]

(14000,
 Species    Whitefish
 Weight        472.26
 Length1        27.41
 Length2        28.84
 Length3        33.04
 Height          8.69
 Width           4.59
 Name: 0, dtype: object,
 Species    Roach
 Weight     141.6
 Length1    20.09
 Length2    23.14
 Length3    25.97
 Height      6.71
 Width       3.78
 Name: 13999, dtype: object)

In [21]:
len(my_list), my_list[0], my_list[-1]

(14001,
 ['Species', 'Weight', 'Length1', 'Length2', 'Length3', 'Height', 'Width'],
 Species    Roach
 Weight     141.6
 Length1    20.09
 Length2    23.14
 Length3    25.97
 Height      6.71
 Width       3.78
 Name: 13999, dtype: object)

In [22]:
with open('sample.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(my_list)