In [1]:
import numpy as np
import pandas as pd
import random
import csv

In [3]:
data = pd.read_csv("fish(old data).csv")

In [4]:
data.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [5]:
x = np.array(data[['Weight','Length1','Length2','Length3','Height',"Width"]])
species = np.array(data['Species'].unique())
species

array(['Bream', 'Roach', 'Whitefish', 'Parkki', 'Perch', 'Pike', 'Smelt'],
      dtype=object)

In [6]:
total_bream = x[0:35]
total_roach = x[35:55]
total_whitefish = x[55:62]
total_parkki = x[62:73]
total_perch = x[73:129]
total_pike = x[129:146]
total_smelt = x[146:160]

In [11]:
total_roach[19]

array([390.   ,  29.5  ,  31.7  ,  35.   ,   9.485,   5.355])

In [12]:
total = np.array([total_bream, total_roach, total_whitefish, total_parkki, 
                  total_perch, total_pike, total_smelt])

In [13]:
def value(df):

    multiplyer = random.choice([0.6,0.7,0.8,0.91,0.92,0.93,0.94,0.95,0.96,0.97,0.98,0.99,1,1.01,
                                1.02,1.03,1.04,1.05,1.06,1.07,1.08,1.09,1.1,1.2,1.3,1.4,1.5,1.6])
    
    index = random.randrange(1,len(df))
    index_value = df[index]
    
    li = []
    for i in index_value:
        li.append(float(("%.2f"%(multiplyer*i))))
        
    return li 
        
value(total_bream)

[632.5, 34.43, 37.4, 43.45, 16.64, 6.13]

In [14]:
num_of_columns = 2000

In [15]:
fishes = []

for i in range(len(total)):
    for j in range(num_of_columns):
        
        total_val = [species[i]]
        val_li = value(total[i])
        for k in val_li:
            total_val.append(k)

        fishes.append(total_val)
        
fishes = np.array(fishes)

In [16]:
fishes[0]

array(['Bream', '525.0', '30.14', '32.55', '38.01', '15.09', '5.06'],
      dtype='<U9')

In [228]:
length = len(fishes)
length, fishes.shape , fishes[0] , fishes[-1]

(14000,
 (14000, 7),
 array(['Bream', '1043.25', '40.02', '43.87', '49.11', '19.94', '7.22'],
       dtype='<U9'),
 array(['Smelt', '4.2', '6.06', '6.36', '6.96', '1.04', '0.69'],
       dtype='<U9'))

In [229]:
np.random.shuffle(fishes)
np.random.shuffle(fishes)

In [230]:
fishes = np.insert(fishes, 0, ['Species','Weight','Length1','Length2','Length3','Height',"Width"])
fishes = fishes.reshape( (length+1, 7) )

In [231]:
len(fishes), fishes.shape , fishes[0] , fishes[-1]

(14001,
 (14001, 7),
 array(['Species', 'Weight', 'Length1', 'Length2', 'Length3', 'Height',
        'Width'], dtype='<U9'),
 array(['Pike', '1750.0', '72.8', '78.4', '83.58', '14.96', '9.78'],
       dtype='<U9'))

In [232]:
with open('Fish_Classification_Dataset.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(fishes)